.addVillageForm{
    margin-top: 90px;
    border: 3px solid rgb(242, 18, 18);
    padding: 20px;
    border-radius: 35px;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 234, 234);
    color: black;
    
}

.submitButton-EC button{
    border: 2px solid rgb(242, 18, 18);
    background-color: rgb(234, 234, 234);
}

.submitButton-EC button:hover{
    border: 2px solid rgb(242, 18, 18);
    background-color: rgb(0, 0, 0);
    color:white
}


@media screen and (max-width: 430px) {

    .addVillageForm{
        width:300px;
    }
}