.villageCard {
  border: 2px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  color: black;
  padding: 30px;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  gap: 30px;
  margin: 10px;
}

.villageCard:hover {
  color: rgba(234, 127, 100, 0.774);
  background-image: url("/homeHut2.svg");
  background-size: cover;
  background-color: rgba(245, 243, 241, 0.928);

  .villageLink {
    /* font-size: large; */
    /* position: relative;
    top: -47px; */
    /* color: red; */
  }

  /* .villageDelete {
    position: relative;
    top: -45px;
  } */
}

.villageCardBody {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-evenly;
  /* gap: 30px; */
}

.villageDelete {
  font-size: xx-small;
  border-radius: 80px;
  background-color: #242424;
}

.villageDelete:hover {
  font-size: xx-small;
  border-radius: 80px;
  background-color: black;
  border: 2px solid red;
}

.villageLink {
  text-decoration: none;
  font-weight: bold;
  color: black;
  /* padding-top: 30px; */
}

.villageLink:hover {
  text-decoration: none;
  /* color: black; */
  /* font-weight: bold; */
  color: red;
}

.masterVillageCard {
  margin-left: 15px;
  /* border:2px solid red; */
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  overflow-y: auto;
  height: 300px;
  width: 800px;
  border-radius: 35px;

  /* test styling */

  position: sticky;
  bottom: 120px;
}

.searchRV {
  overflow-y: auto;
  max-height: 450px;
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 50px;
  color: black;
  position: relative;
  top: -20px;
}

input {
  height: 30px;
  width: 260px;
}

@media screen and (max-width: 430px) {
  .villageCardBody {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .allVBodyMaster {
    position: relative;
    bottom: 30px;
  }
  .searchRV {
    position: relative;
    border-radius: 50px;
    border: none;
    top: -50px;
    width: 90vw;
    max-height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }

  .masterVillageCard {
    /* border: 2px solid red; */
    border-right: none;
    border-left: none;
    /* border-top: 4px solid black;
    border-bottom: 4px solid black;; */
    border-radius: 0px;
    position: relative;
    top: -70px;
    width: 99%;
    height: 170px;
    left: -7px;
  }

  .villageCard {
    height: 100px;
    width: 100px;
  }

  input {
    height: 30px;
    width: 260px;
  }
}
