.contactCard {
  border: 1px solid rgb(242, 18, 18);
  padding: 20px;
  border-radius: 35px;
  width: 90vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
  color: black;
  gap: 50px;
  margin: 30px;
}

.editButton {
  width: 75px;
  height: 23px;
}

.editButton:hover {
  /* border: 2px solid black; */
  background-color: rgb(232, 116, 45);
  border-radius: 60px;
  padding: 5px;
}

.deleteButton {
  width: 75px;
  height: 30px;
  background-color: rgb(232, 116, 45);
  border-radius: 60px;
  padding: 5px;
  width: 6vh;
}

.deleteButton:hover {
  background-color: rgb(92, 88, 86);
  border-radius: 60px;
  padding: 5px;
  width: 6vh;
}

.addUserButton {
  width: 80px;
  height: 40px;
  background-color: rgb(232, 116, 45);
  border-radius: 60px;
}

.addUserButton:hover {
  background-color: rgb(113, 110, 108);
  border: 2px solid rgb(232, 116, 45);
}

.emButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.backButton {
  background-color: rgb(232, 116, 45);
  border-radius: 60px;
  color: black;
  width: 80px;
  height: 37px;
  padding: 2px;
}

.backButton:hover {
  background-color: rgb(113, 110, 108);
  border: 2px solid rgb(232, 116, 45);
}
