.contactCard {
  border: 3px solid rgb(242, 18, 18);
  padding: 20px;
  border-radius: 35px;
  width: 90vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
  color: black;
  gap: 50px;
  margin: 30px;
}

.editButton {
  width: 75px;
  height: 23px;
}

/* .editButton:hover {
  border: 2px solid red;
  background-color:white;

  border-radius: 60px;
  padding: 2px;
} */

.deleteButton {
  width: 75px;
  height: 30px;
  background-color: rgb(232, 116, 45);
  border-radius: 60px;
  padding: 5px;
  width: 6vh;
}

.deleteButton:hover {
  background-color: rgb(92, 88, 86);
  border-radius: 60px;
  padding: 5px;
  width: 6vh;
}

.addUserButton {
  width: 80px;
  height: 40px;
  background-color: rgb(234, 234, 234);
  color: black;
  border:2px solid red;
  border-radius: 60px;
}

.addUserButton:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid red;
}

.emButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.backButton {
  border-radius: 60px;
  background-color: rgb(234, 234, 234);
  color: black;
  border:2px solid red;
  width: 80px;
  height: 37px;
  padding: 2px;
}

.backButton:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid red;
}
.phoneButton {
  width: 25px;
  height: 25px;
}

.phoneButton:hover {
  background-color: rgb(28, 238, 49);;
  border-radius: 50px;
}

.messageButton {
  width: 25px;
  height: 27px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  
}

.messageButton:hover {
  background-color: rgb(255, 255, 255);;
  border-radius: 50px;
  padding: 6px;
  border:2px solid red;
}

.numberDiv {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: 13px;
}

.cCard{
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;

}
/* .emContactsPageBody{
  margin-top: 120px;
  height:100vh;
  overflow-y: auto;
  margin-bottom:40px;
} */

@media screen and (max-width: 430px) {
  .emContactsPageBody{
    /* border: 2px solid white; */
    width: 100%;
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   position:fixed;
 overflow-x: hidden;
  
  }


 .emContactsPageBody h1{
    font-size: xx-large;
 
  }

  .firstNameC{
position:relative;
top:60px;
font-size: 30px;
  }

  .lastNameC{
    position:relative;
top: -20px;
font-size: 20px;
  }

  .numberDiv{
    position:relative;
    top: -70px;
    font-size: larger;
  }
.contactBody{

  /* border: 1px solid red; */
  height: 50vh;

  display:flex; 
  flex-direction: row;
  flex-wrap: wrap;
  /* width:100vw; */
  /* overflow-x: hidden; */
  display:flex;
  flex-direction: row;
  
}

.contactCard {
  border: 3px solid rgb(242, 18, 18);
  /* padding: 20px; */
  border-radius: 35px;
  width:80vw;
  height:20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  color: black;
  /* gap: 50px; */
  /* margin: 30px; */
  font-size: xx-small;
  

}

.cCard{
  /* border: 3px solid yellow; */
  max-height: 500px;
  display:flex;
flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;

}
  
.editButton {
  width: 90px;
  height: 30px;
  position:relative;
  top: -95px
}


}