.emergencyContactForm {
  border: 3px solid rgb(242, 18, 18);
  padding: 20px;
  border-radius: 35px;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  color: black;
  /* margin: 10px; */
}

form {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  gap: 5px;
  width: 50vh;
  height: 100%;
}

form .submitButton-EC {
  margin: 10px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.submitButton-EC button:hover {
  background-color: black;
  color: white;
  border-color: red;
}

.submitButton-EC button {
  border-radius: 75px;
  background-color:white;
 border: 2px solid rgb(242, 18, 18);
 color: black;
}

input {
  border-radius: 35px;
  border-color: rgb(159, 148, 148);
  color: white;
  width: 40vh;
}

.successMessage {
  color: white;
  font-weight: bolder;
  background-color: rgb(47, 184, 19);
  border-radius: 35px;
  padding: 2px;
}

.blurb-EC {
  width: 30vw;
  display: flex;
  align-items: center;
}
/* 
  span{
      border: 1px solid white;
      background-color: rgb(232, 116, 45);
      border-radius: 50%; 
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: small;
      cursor: pointer; 
  
  } */
