.mapButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin: 4px;
}

.fireStation {
    width: 40px;
    height: 40px;
    background-color: rgb(238, 229, 229);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid red
}

.fireStation:hover {
    border: 3px solid white;
}

.policeStation {
    width: 40px;
    height: 40px;
    background-color: rgb(238, 229, 229);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid red;
}

.policeStation:hover {
    border: 3px solid white;
}

.hospitalStation {
    width: 40px;
    height: 40px;
    background-color: rgb(238, 229, 229);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid red;
}

.hospitalStation:hover {
    border: 3px solid white;
}

.mapButtonDiv h4 {
    color: white;
}