.getVillageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  overflow-y: auto;
  /* scrollbar-width: thin;  */
  /* scrollbar-color: transparent transparent; */
  /* margin-top:75px; */
}

.villageDetail {
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 50px;
  color: black;
  max-height: 270px; 
  /* min-height: 50px; */
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;
  /* margin-bottom: 20px; */
}

.searchR {
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 50px;
  color: black;
  /* margin-bottom: 10px; */
}
.addB{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addButton {
  /* margin-bottom: 7px; */
  height:30px;
  border-radius: 30px;
  display:flex;
  flex-direction: row;
  justify-items:flex-end;
  align-items: center;
}

.villageMemberCard {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 45vw;
}

.deleteButton {
  border-radius: 90px;
  height: 50px;
  background-color: #242424;
}

.deleteButton:hover {
  background-color: black;
  border-radius: 90px;
  height: 50px;
}

.getVillForm{
  display:flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.searchButton{
  display:flex;
  align-items: center;
  height:30px;
  border-radius: 30px;
}

.villagePageBackB{
  margin-top: 10px;
  display:flex;
  align-items: center;
  height:30px;
  border-radius: 30px;
  border: 1px solid red;
}


.villagePageBackB:hover{
color:red;
border: 1px solid white;
}

.villagePageBackLink{
  text-decoration: none;
}
