.getVillageBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 20px;
  /* scrollbar-width: thin;  */
  /* scrollbar-color: transparent transparent; */
  /* margin-top:75px; */
}

.villageDetailHeader {
  /* position:fixed;
  color:white;
 top: 200px;
 left:330px; */
  display: none;
}

.villageDetail {
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  color: black;
  max-height: 270px;
  min-width: 500px;
  /* min-height: 50px; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  left: 50px;
}

.searchR {
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 50px;
  color: black;

  /* margin-bottom: 10px; */
}
.addB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addButton {
  /* margin-bottom: 7px; */
  height: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
}

.villageMemberCard {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 45vw;
}

.deleteButton {
  border-radius: 100px;
  height: 40px;
  background-color: #242424;
}

.deleteButton:hover {
  border:1px solid red;
  background-color: white;
  border-radius: 100px;
  height: 40px;

}

.getVillForm {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.searchButton {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 30px;
}

.villagePageBackB {
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 30px;
  border: 1px solid red;
  position: relative;
  top: 20px;
}

.villagePageBackB:hover {
  color: red;
  border: 1px solid white;
}

.villagePageBackLink {
  text-decoration: none;
}

.joinRequestsSection {
  margin-top: 9px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  border: 1px solid red;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  color: black;
  height: 50vh;
  max-height: 200px;
  width: 270px;
  /* display:flex;
  flex-direction: column; */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.joinText {
  position: relative;
  left: -35px;
  top: -12px;
}
.joinRequestsSection h2 {
  text-decoration: underline;
  position: relative;
  top: -7px;
}

.joinRequestsSection li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.approveButton {
  font-size: x-small;
  position: relative;
  top: -10px;
}

.rejectButton:hover {
  font-size: x-small;
  color: red;
}

.approveButton:hover {
  color: red;
  font-size: x-small;
}

.rejectButton {
  font-size: x-small;
  position: relative;
  left: 2px;
  top: -10px;
}

.findAndRequestBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.villagePageBackLink {
  position: fixed;
  top: 580px;
  right: 590px;
}

.villageDelete {
  font-size: xx-small;
  border-radius: 80px;
  background-color: #242424;
  margin-bottom: 10px;
  position: relative;
  bottom: 10px;
}

.villageDelete:hover {
  font-size: xx-small;
  border-radius: 80px;
  background-color: black;
  border: 2px solid red;
}
@media screen and (max-width: 430px) {
  .villagePageBackLink {
    position: relative;
    top: -10px;
    right: 0px;
  }
  .villageDetailHeader {
    display: none;
  }

  .getVillageBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top: 20px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-top: 75px;
  }

  /* .getVillageBody{
    display: flex;
    flex-direction: column;
  } */

  .getVillForm {
    display: flex;
    flex-direction: column;
  }

  .villageMemberCard {
    width: 96vw;
  }

  .searchR {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-bottom: 5px;
    border-radius: 30px;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    bottom: 60px;
  }

  .villageDetail {
    border: 1px solid red;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    color: black;
    max-height: 270px;
    min-width: 100%;
    /* min-height: 50px; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    left: 0px;
    bottom: 50px;
  }

  .joinRequestsSection {
    margin-top: 9px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    color: black;
    /* width: 100vw; */
    max-height: 195px;
    overflow-y: auto;
    position: relative;
    bottom: 69px;
  }

  .joinRequestsSection h2 {
    text-decoration: underline;
  }
}
