.header-bg {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  border-bottom: blue solid 1px;
  padding: 5px;
  border-style: groove;
}

.login-style {
  width: 70px;
  height: 70px;
}

.signup-style {
  width: 55px;
  height: 55px;
  margin-top: 8px;
}
