.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.SoSButton:hover {
  background-color: aliceblue;
  border-radius: 100%;
  padding: 2px 7px;
}

.emergencyContactButton:hover {
  border: 2px solid red;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 40px;
}

.time {
  color: white;
}

.userName {
  color: rgb(232, 116, 45);
}

.villagesButton {
  border: 2px solid red;
  background-color: white;
  color: black;
  border-radius: 40px;
}

.villagesButton:hover {
  border: 2px solid red;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 40px;
}

.userNameAndButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.editPButton {
  font-size: larger;
  padding: 5px;
}

.editPButton:hover {
  cursor: pointer;
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.emergencyContactButton {
  border: 2px solid red;
  background-color: white;
  color: black;
  border-radius: 40px;
}

.userName {
  /* position:relative; */
  color: white;
  font-size: larger;
  /* bottom:  110px; */
}

.editProfileButton {
  border: 2px solid red;
  background-color: white;
  color: black;
  border-radius: 40px;
}

.editProfileButton:hover {
  border: 2px solid red;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 40px;
}

@media screen and (max-width: 430px) {
  .userName {
    position: relative;
    color: white;
    bottom: 110px;
  }

  .editPButton {
    position: relative;
    font-size: larger;
    padding: 5px;
    bottom: 110px;
  }

  
  .time {
    position: relative;
    top: -150px;
  }

  .emergencyContactButton {
    position: relative;
    top: 140px;
  }

  .villagesButton {
    position: relative;
    top: 140px;
  }

  .editProfileButton {
    position: relative;
    top: 140px;
  }
}
