.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.sosButton {
  border-radius: 90px;
  background-color: white;
  width: 80%;
  height: 25vh;
  font-size: xx-large;

}

.emergencyContactButton:hover {
  background-color: rgb(131, 212, 131);
  color: black;
}

.sosButton:hover {
  background-color: rgb(228, 139, 139);
}

.medicineCabinetButton:hover {
  background-color: rgb(131, 212, 131);
  color: black;
}

.time{
    color:rgb(232, 116, 45)
}

.userName{
   color:rgb(232, 116, 45)
}