.home::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/villageLogo2.jpg') url('/dadAndSon.jpg') url('/heart1.jpg') url('/hearthand1.jpg') url('/hearthand1.jpg') url('/HeartBallon.jpg') url('/b&wHeartBalloon.jpg') url('/manyBalloons.jpg') url('/stickmanHeart.jpg') url('/stickmanCheck.jpg')
}

@keyframes imageShift {
  0% {
    background-image: url('/heart1.jpg');
    background-size: cover;

  }

  50% {
    background-image: url('/heart1.jpg');
    background-size: cover;

  }

  100%,
  99.999% {
    background-image: url('/villageLogo2.jpg');
    background-size: cover;

  }

}

.home {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 15px;
  animation: imageShift 5s forwards linear;
  animation-timing-function: linear;
}

.home h1 {

  font-size: 7em;
  color: rgb(0, 0, 0);
  margin-top: 350px;
  font-weight: 500;
}

.home button {
  margin-top: -60px;
  border: 1px solid red;
}

.home button:hover {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.h1andButton {
  opacity: 0;
  animation: fadeIn 7s ease-in-out forwards;
}

@keyframes fadeIn {
  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 430px) {
  @keyframes imageShiftPhone {

    0% {
      background-image: url('/HeartBallon.jpg');
      background-size: cover;

    }

    50% {
      background-image: url('/HeartBallon.jpg');
      background-size: cover;

    }


    100%,
    99.999% {
      background-image: url('/b&wHeartBalloon.jpg');
      background-size: cover;
    }
  }

  .home {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    padding: 15px;
    animation: imageShiftPhone 5s forwards linear;
    animation-timing-function: linear;
  }

  .h1andButton {
    position: relative;
    top: 100px;
    opacity: 0;
    animation: fadeIn 7s ease-in-out forwards;
  }

  .home h1 {
    font-size: 6em;
    color: rgb(0, 0, 0);
    margin-top: 350px;
    font-weight: 500;
  }
}