.loginPageBody {
  border: 3px solid red;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  color: black;
  margin-top: 50px;
  width: 50vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loginSubmit{
margin-top: 16px;
  background-color:rgb(234, 234, 234);
  color: black;
  border: 2px solid red;
  border-radius: 60px;
}

.loginSubmit:hover{
  margin-top: 16px;
    background-color:black;
    color: white;
    border: 2px solid red;
    border-radius: 60px;
  }

.PhoneInput{
display: flex;
flex-direction: column;
justify-content:flex-end;
align-items: center;
gap:5px;
}