.modal {
   
    position: relative;
    z-index: 1000;
    left: 0;
    top: -300px;
    width: 100%;
    height:50%;
    overflow: auto;
    background-color: rgba(7, 2, 2, 0.668);
    margin-bottom: -300px;
}