.emergencyButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom:10px;
  gap: 100px;

}

.emergencyServices {
  height: 60px;
  width: 64px;
  padding: 10px;
  border: 3px solid red;
  background-color: aliceblue;
  border-radius: 50px;
}

.emergencyServices:hover {
  padding: 10px;
  border: 3px solid white;
  background-color: aliceblue;
  border-radius: 50px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonDiv h4 {
  color: white;
  font-size: smaller;
}

.villageDropdown {
  margin-top: 30px;
  border: 2px solid red;
  color: black;
  background-color: aliceblue;
  font-size: medium;
  font-weight: bolder;
  border-radius: 50px;
}

.stateEmergencyBody{
  height:100vh;
  width: 100vw;
  margin-top: 0px;
  overflow-y:auto;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent;

}