.addVillageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    gap:20px;
    padding-top: 12px;
    position:sticky;
    bottom:30px;
    /* margin-top: -9px; */

}

.villageBack{
    border-radius: 75px;
    background-color: rgb(234, 234, 234);
    color: black;
    border:2px solid red;
}

.villageAdd{
    border-radius: 75px;
    background-color: rgb(234, 234, 234);
    color:black;
    border:2px solid red;
}

.villageAdd:hover {
background-color: rgb(0, 0, 0);
color: white;
border:2px solid red;
}

.villageBack:hover{
    background-color: rgb(0, 0, 0);
color: white;
border:2px solid red;
}

.villageBubble{
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
  
    max-height: 430px;
    margin-top:-10px;
    padding-top: 30px;;
}

.villagePageBody{
    height:100vh;
    width:100vw;
    margin-top: 60px;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
 
}

.villagePageBody h1{
    margin-top: 40px;
}

.myVillageBodyMaster{
    position:relative;
    top: 50px;
 
}

@media screen and (max-width: 430px) {

 .addVillageButton{
    position:relative;
    top:-40px;
 }
    .villagePageBody{
        position:relative;
        
        /* top: 30px; */
        overflow-y: auto;
        scrollbar-width: thin; 
        scrollbar-color: transparent transparent;
    }

    .villageBubble{
      position:relative;
      bottom:30px;
    }
}